<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Persons List - Home</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="./static/style.css">
</head>
<body>
    <div class="container">
    <h1 class="text-center">People List</h1>
    <a href="{{ url_for('add_person') }}" class="btn btn-primary text-center">Add Person</a>
    </div>

    <div class="container custom-container">
        <ul class="list-group custom-list-group">
            {% for person in persons %}
                <li class="list-group-item custom-list-group-item">
                    <div class="d-flex flex-row">

                        <img float=left width=100px height=100px src="https://img.icons8.com/material-rounded/96/user-male-circle.png"/>
                        <div class="ml-2">
                            <h6 class="mb-0 person-name">Name: {{ person.name }}</h6>
                            <h6 class="mb-0 person-id">Id: {{ person.id }}</h6>
                        </div>
                    </div>
                    <div class="custom-check">
                        <a class="btn btn-warning btn-sm" href="{{ url_for('edit_person', id=person.id) }}">Edit</a>
                        <a class="btn btn-danger btn-sm" href="{{ url_for('delete_person', id=person.id) }}">Delete</a>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>

    <!-- Include Bootstrap JS (optional) -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>
